<div
    class="overflow-x-auto flex items-center justify-between mt-10 p-2 mx-10 bg-gray-100 rounded-lg hover:shadow-md duration-150">
    <div class="flex flex-col items-center justify-center mx-2 cursor-pointer">
        <ion-icon name="apps-outline" class="text-2xl"></ion-icon>
        <span class="text-sm">Category</span>
    </div>
</div>