<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product's</title>
</head>

<body>
    <%-include ("./Partials/AdminNav.ejs",{Title:"Available Product's"})%>
        <div class="m-10 p-4 md:mt-20 mt-20  sm:ml-64 max-w-4xl  mx-auto">
            <%-include ("./Partials/Notification.ejs")%>
                <%-include ("./Partials/Card.ejs",{Admin:isAdmin,List:getProductList})%>
        </div>
</body>

</html>