<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>User Data</title>
</head>

<body>
    <%-include ("./Partials/AdminNav.ejs",{Title:"User Data"})%>
        <% Users.map((user)=>{%>
            <div class="p-4 md:mt-20 mt-20 sm:ml-64 flex flex-wrap">
                <a href="#"
                    class="flex flex-col flex-wrap max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <%=user.name%>
                    </h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        <%=user.email%>
                    </p>
                    <%if (user.isAdmin){%>
                        <p class="font-normal text-gray-700 dark:text-gray-400">
                            Admin
                        </p>
                        <% } %>
                </a>
            </div>
            <%})%>
</body>

</html>